body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #29406a;
    overflow: hidden;
    padding: 10px; /* Adjusted padding for smaller screens */
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}

.navbar a:hover {
    background-color: #ddd;
    color: #29406a;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .navbar a {
        padding: 10px; /* Adjusted padding for smaller screens */
        font-size: 14px; /* Adjusted font size for smaller screens */
    }
}
